<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Local checker</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
</head>
<body>

    <div id="app">

        <!-- INPUT FORM -->
        <p>
            Paste list of characters
            <input v-model="characters">
            <button v-on:click="get_data">fetch</button>
        </p>

        <!-- WARNING BAR -->
        <p v-if="warning" style="color: tomato">{{ warning }}</p>
        <br />

        <!-- DATA -->
        <code>
            {{ api_data }}
        </code>

    </div>

<script src="./script.js">

</script>
</body>
</html>
